:root{
    --laranjaPrincipal: #FE9D37;
    --laranjaMedio: #FE9D37;
    --laranjaFraco: #FFC384;
    --azulPrincipal: #01BFDE;
    --azulMedio: #7DE8F6;
    --azulFraco: #D0F4FA;
    --cinzaPrincipal: #373737;
    --cinzaMedio: #797979;
    --cinzaFraco: #AFAFAF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
}
html, body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.desktop{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.primeiroBloco{
    display: flex;
    width: 100%;
    height: 96vh;
    background-color: rgb(246, 246, 246);
    justify-content: center;
}
.primeiroBlocoContainer{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 95%;
    /*background-color: antiquewhite;*/
}
.logoPrimeiroBloco{
    display: flex;
    height: 17%;
    box-sizing: border-box;
    align-items: flex-end;
}
.logoPrimeiroBloco img{
    display: flex;
    width: 25%;
}
.textoVideoPrimeiroBloco{
    display: flex;
    width: 100%;
    height: 83%;
    /*background-color: aqua;*/
    padding-top: 3%;
}
.textoPrimeiroBloco{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    /*background-color: blueviolet;*/
    padding: 0 3% 0 0;
}
.textoPrimeiroBloco h1{
    margin-bottom: 5vh;
    font-size: 32px;
    font-size: 3.9vh;
}
.textoPrimeiroBloco span{
    color: var(--laranjaPrincipal);
}
.textoPrimeiroBloco p{
    font-size: 2.9vh;
    margin-bottom: 6%;
}
.textoPrimeiroBloco button{
    font-size: 2.2vh;
    width: 70%;
    padding: 2% 2%;
    border-radius: 7px;
    margin-bottom: 5vh;
    color: white;
    background-color: rgb(255, 111, 0);
    border: 0;
}
.textoPrimeiroBloco button:hover{
    background-color: green;
    cursor: pointer;
}
.imagemPrimeiroBloco{
    display: flex;
    width: 45vh;
    justify-content: center;
}
.imagemPrimeiroBloco img{
    width: 85%;
}

.videoPrimeiroBloco{
    display: flex;
    width: 50%;
    height: 40vh;
    /*background-color: yellowgreen;*/
    justify-content: left;
}
.videoPrimeiroBloco iframe{
    width: 95%;
}


.segundoBloco{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color:#e1e8e9;
    height: 125vh;
}
.textoChamativoTop{
    display: flex;
    width: 75%;
    height: 15vh;
    background-color: red;
    border-radius: 0 0 50px 50px;
    justify-content: center;
}
.divisaoTextoChamativoTop{
    display: flex;
    width: 70%;
    height: 100%;
    align-items: center;
    /*background-color: #FFC384;*/
}
.iconeTextoChamativoTop{
    display: flex;
    width: 20vh;
    height: 100%;
    /*background-color: #01BFDE;*/
    background-image: url(/img/checkIcon.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.textoTextoChamativoTop{
    display: flex;
    width: 80%;
    height: 100%;
    /*background-color: green;*/
    align-items: center;
    padding: 1% 2%;
}
.textoChamativoTop p{
    color: white;
    font-size: 2.5vh;
    text-align: left;
}
.textoChamativoTop span{
    font-weight: 700;
    font-size: 2.5vh;
}
.tituloParagrafoSegundoBloco{
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 52.5%;
    height: 27vh;
    /*background-color: #FFC384;*/
}
.tituloParagrafoSegundoBloco h1{
    text-align: center;
    width: 90%;
    /*background-color: cadetblue;*/
}
.tituloParagrafoSegundoBloco p{
    margin-top: 4vh;
    text-align: center;
    width: 90%;
    /*background-color: white;*/
    font-size: 2.2vh;
}
.sliderSegundoBloco{
    display: flex;
    margin-top: 7vh;
    width: 90%;
    height: 70vh;
    background-color: wheat;
    justify-content: center;
    align-items: center;
}
.blocoParaQuem{
    display: flex;
    width: 100%;
    height: 40vh;
    background-image: url(/img/backgroundParaQuemE.jpeg);
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.blocoParaQuemContainer{
    display: flex;
    width: 85%;
    align-items: center;
}
.textoParaQuem{
    display: flex;
    justify-content: center;
    width: 25%;
}
.textoParaQuem p{
    color: white;
    font-size: 28px;
    font-weight: 600;
}
.divParaQuem{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 25%;
    height: 25vh;
    border-radius: 15px;
    margin: 2%;
    background-color: #251D3A;
}
.divParaQuem img{
    width: 30%;
    margin-top: 15%;
    margin-bottom: 10%;
}
.divParaQuem p{
    text-align: center;
    padding: 1.5%;
    color: white;
}

.terceiroBloco{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
    background-image: url(/img/backgroundVantagens.jpeg);
    height: 178vh;
}
.terceiroBlocoContainer{
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    /*background-color: aqua;*/
    width: 85%;
    height: 145vh;
    align-items: center;
    justify-content: center;
}
.vantagensTerceiroBlocoSup{
    display: flex;
    width: 100%;
    margin-top: 3%;
    align-items: center;
    height: 50%;
    /*background-color: red;*/
    margin-top: 4%;
}
.vantagensTerceiroBlocoMed{
    display: flex;
    margin-top: 3%;
    width: 100%;
    height: 50%;
    /*background-color: red;*/
}
.vantagensTerceiroBlocoInf{
    display: flex;
    margin-top: 3%;
    width: 100%;
    height: 50%;
    /*background-color: red;*/
}
.vantagem{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 33.3%;
    height: 85%;
    margin: 3%;
    border: 1px solid green;
    align-items: center;
}
.numeroVantagem{
    display: flex;
    position: absolute;
    top: -5.5vh;
    background-color: var(--azulPrincipal);
    height: 10vh;
    padding: 7%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.numeroVantagem p{
    font-size: 30px;
    font-weight: 600;
    color: white;
}
.tituloTextoVantagem{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 6vh;
    padding: 2%;
    /*background-color: wheat;*/
}
.tituloTextoVantagem h2{
    font-size: 24px;
}
.tituloTextoVantagem p{
    margin-top: 7%;
    text-align: center;
    font-size: 20px;
}
.evolucaoMercado{
    display: flex;
    width: 100%;
    height: 72vh;
    background-color: #797979;
    background-image: url(/img/backgroundEvolucao.jpeg);
    justify-content: center;
    align-items: center;
}
.evolucaoMercadoContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 75%;
    /*background-color: #01BFDE;*/
    align-items: center;
}
.evolucaoMercadoContainer h1{
    color: white;
}
.textoImagemEvolucaoMercado{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    /*background-color: pink;*/
}
.divEvolucaoMercado{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3%;
    height: 60%;
    /*background-color: #AFAFAF;*/
    margin: 0 2%;
}
.divEvolucaoMercado img{
    width: 35%;
    background-color: white;
    padding: 2%;
    border-radius: 5px;
}
.divEvolucaoMercado p:first-of-type{
    background-color: var(--laranjaPrincipal);
    padding: 1% 10%;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.divEvolucaoMercado p:last-of-type{
    text-align: center;
    margin-top: 2%;
    width: 60%;
    color: white;
}
.fraseComBarra{
    display: flex;
    /*background-color: yellow;*/
    align-items: center;
    width: 100%;
    justify-content: center;
}
.fraseComBarra hr{
    width: 40%;
    color: white;
    height: 2%;
}
.fraseComBarra span{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: white;
    padding: 0 3%;
}